body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.weatherBG{
  background: url("../thunderstorm-3625405__480.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.icon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weathercity{
  font-size: 35px;
}
.Temp{
  font-size:55px;
  font-weight: 700;
}